@{
    ViewData["Title"] = "Home Page";
}

<div class="center-screen">
    <a href="~/Student/ShowAll" ><button class="sButton" type="button">Students</button> </a>
    <a href="~/Course/ShowAllCourses"> <button class="sButton" type="button">Courses</button></a>
</div>
