@model Student
<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.Image" />
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Address</p>
        <a href="#"class="btn btn-primary">see Profile</a>
    </div>
</div>