@model Student
<div>
    <img class="profile" src="/Images/@Model.Image" />
    <div >
        <h4 class="pt-4">Name: @Model.Name</h4>
        <p class="pt-2">Address: @Model.Address</p>
    </div>
</div>
<div class="details-footer">
    <a href="/student/ShowAll">Back To List</a>
</div>