
@{
    Layout = "_Layout1";
    var studentList = ViewData["StudentList"] as List<MvcProject.Models.Student>;
}

<h2>All Students</h2>
<a href="/student/NewStudent" class="btn btn-primary">New Student</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var student in studentList)
        {
            <tr>
                <td>@student.ID</td>
                <td>@student.Name</td>
                <td>@student.Address</td>

                <td>
                    <a href="@Url.Action("ShowDetails", "Student", new { id = student.ID })">View Details</a>
                </td>
               

            </tr>
        }
    </tbody>
</table>
